<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- 1. XML을 통한 Bean 등록
    <bean id="conveniencePayService" class="com.zerobase.convpay.service.ConveniencePayService">
        <constructor-arg name="paymentInterfaceSet">
            <set>
                <ref bean="moneyAdapter" />
                <ref bean="cardAdapter" />
            </set>
        </constructor-arg>
        <constructor-arg name="discountInterface" ref="discountByConvenience" />
    </bean>
    <bean id="moneyAdapter" class="com.zerobase.convpay.service.MoneyAdapter" />
    <bean id="cardAdapter" class="com.zerobase.convpay.service.CardAdapter" />
    <bean id="discountByConvenience" class="com.zerobase.convpay.service.DiscountByConvenience" />
    <bean id="discountByPaymethod" class="com.zerobase.convpay.service.DiscountByPaymethod" />
    -->

    <!-- 2. XML ComponentScan을 통한 Bean 등록 -->
    <context:component-scan base-package="com.zerobase.convpay" />

</beans>